<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">




    <link rel="stylesheet" href="/assets/css/style.css" >
</head>

<body id="index-body">

    <h1 class="index-header">WELCOME</h1>
    <a id="index-a-btn" href="/login">
    <div id="index-btn-wrapper">GET STARTED </div>
</a>

  <script src="/assets/js/main.js"></script>
</body>

</html>