body{
    margin: 0;
    font-family: 'Muli', sans-serif;
}

a{
    text-decoration: none
}

input{
    font-size: 24px;

}

#index-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#index-btn-wrapper{
    border: 1px solid black;
    width: 49vw;
    height: 8vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 13px;
    color: black;
}

#index-a-btn{
    text-decoration: none;
}

#login-body{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 20px
}

#login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#login-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

#email , #password ,#name , #password_confirmation{
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
}

#a-login-form-btn{
    margin-bottom: 15px;
    font-size: 25px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form-btn{
    width: 45vw;
    border-radius: 8px;
}

#login-link{
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#signup-body{
    height: 100vh;
}

#signup-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#signup-link{
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#signup-form-btn{
    width: 41vw;
    height: 6vh;
    border-radius: 10px;
    margin-top: 14px;
    margin-bottom: 10px;
}

#signup-login-link, #signup-home-link,#signup-link, #password-recovery-link, #password-recovery-link, {
    font-size: 25px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#password-recovery-body{
    width: 100vw;
    height: 100vh;
}

#password-recovery-form{
    width: 100vw;
    height: 100vh;
}

#password-recovery-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#password-recovery-btn{
    font-size: 24px;
    border-radius: 7px;
    margin-bottom: 14px;
}

#header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    border-width: thin;
    font-size: 50px; 
    background-color: #f4f5f9;
    box-sizing: border-box;
}

#navigation{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f9;
    border-top: 1px solid black;
    border-width: thin;
    box-sizing: border-box;
}

#navigation2{
    display: flex;
    background-color: #f4f5f9;
    border-top: 1px solid black;
    border-width: thin;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    width: 100vw;
    
}

#content{
    width: 100vw;
    height: 80vh;
    overflow: auto
}

#content2{
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.home, .jobs, .clients, .settings{
    display: flex;
    flex: 1;
    height: 100%;
}

.home2, .jobs2, .clients2, .settings2{
    height: 50vh;
    width: 50vw;
}

.icon{
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black
}

.icon2{
    font-size: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black
}




#header-p{ 
    font-size: 52px;
    width: 100%;
    height: 58px;
}

#home-header-p{
    font-size: 40px;
    text-align: center;
    width: 100%;
}

#header-title{
    width: 100%;
}

.ion-md-log-out{
    margin-right: 2px
}

#root{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

#root2{
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

/* .client-name{ 
        min-height: 8vh;
        width: 90vw;
        font-size: 32px;
        display: flex;
        align-items: right;
        align-items: center;
        margin-left: 16px;
        margin-top: 12px;
        background-color: #f4f5f9;
} */

#add-btn{
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    margin-right: 7px;
}

.ion-md-add{
    width: 20vw; 
}

/* #add-first-name,#add-last-name, #add-email, #add-phone{
    height: 43px;
    width: 80vw;
    margin-top: 22px;
    border-radius: 5px
} */

#add-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#add-form-btns{
    margin-top: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 30vh;

}

#add-form-add-btn, #add-form-back-btn{
   border: 1px solid black;
    width: 20vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 25px
}

#jobs-form-back-btn, #jobs-form-add-btn{
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    font-size: 30px;
    margin-bottom: 19px;
    width: 100px;
    height: 49px;
    display: flex;
    align-items: center;
}

.remove, .back-btn{
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    font-size: 30px;
    margin-bottom: 35px;
    width: 120px;
    display: flex;
    align-items: center;
}

.client{
       margin: 14px;
       height: 70px;
       font-size: 15px;
       overflow-y: hidden;
       transition: height 700ms ease;
       background-color: #f4f5f9
}

#show{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addInfo{
    display: flex;
    align-items: center;
}

.jobs-div{
    width: 90vw;
    background-color: grey;
    height: 8vh;
    display: flex;
    margin: 17px;
    background-color: #f4f5f9;
    justify-content: center;
    align-items: center;
}

#img-container{
    max-width: 200px;
    max-height: 200px
}

#img-source{
    width: 200px;
}

#settings-container{
    height: 13vh;
    width: 96vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f4f5f9;
    margin: 8px;
}

#logout-atag{
    margin-left: 20px;
    font-size: 29px;
    text-decoration: none;
    color: black
}

#logout-atag:hover{
    text-decoration: none;
    color: black
}

#add-first-name, #add-last-name, #add-phone, #add-email{
    margin-top: 23px;
    border-width: 1px;
    height: 50px;
    width: 75vw;

}

#jobs-model, #jobs-owner, #jobs-description, #jobs-image{
    margin-top: 23px;
    border-width: 1px;
    height: 50px;
    width: 75vw;

}

#first-last-name{
    margin-left: 12px;
}



.drop-down-arrow{
    width: 50px;
    height: 52px;
}

#email-phone{
    flex: 6;
}

#remove, #update{
    flex: 1;
    height: 45px;
    font-size: 30px;
    text-align: center;
}

#remove{
    margin-right: 20px
}

#client-email, #client-phone{
    height: 22px;
    margin: 10px;
    font-size: 19px;
}

.ion-md-trash, .ion-md-create{
    font-size: 40px;
} 

#jobs-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#jobs-form-btns{
    width: 80vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-job{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#model, #owner{
    margin: 14px;
    width: 80vw;
    font-size: 40px;
    text-align: center;
}

#description{
    margin: 14px;
    width: 80vw;
    font-size: 24px;
    text-align: center;
}

#image-container{
    display: flex;
    flex-wrap: wrap;
    overflow: auto; 
    min-height: 250px;
    max-height: 250px;
}

#img-source{
    width: 100%;
    height: 211px;
    margin: 20px;
}

#btns{
    width: 70vw;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 31px;
    margin-bottom: 31px;
}